In [91]:
import pandas as pd

In [92]:
bitcoin = pd.read_excel('GDAX.BTC-USD_790301_230316.xlsx')
smp500 = pd.read_csv('^spx_d (1).csv')

In [93]:
bitcoin = bitcoin.iloc[:,[2,4,5]]
bitcoin.columns = ['Date', 'Open', 'High']
bitcoin

          Date      Open      High
0     20141201    300.00    370.00
1     20141202    377.00    378.00
2     20141203    377.90    378.00
3     20141204    377.10    377.10
4     20141206    378.00    378.00
...        ...       ...       ...
2985  20230312  20619.34  22276.69
2986  20230313  22216.02  24710.00
2987  20230314  24220.00  26553.90
2988  20230315  24761.61  25300.00
2989  20230316  24384.15  25043.97

[2990 rows x 3 columns]

In [96]:
smp500 = smp500.iloc[:, [0,1,2]]
smp500

             Date     Open     High
0      1789-05-01     0.51     0.51
1      1789-06-01     0.51     0.51
2      1789-07-01     0.50     0.50
3      1789-08-01     0.50     0.51
4      1789-09-01     0.51     0.51
...           ...      ...      ...
38898  2023-03-09  3998.66  4017.81
38899  2023-03-10  3912.77  3934.05
38900  2023-03-13  3835.12  3905.05
38901  2023-03-14  3894.01  3937.29
38902  2023-03-15  3876.74  3894.26

[38903 rows x 3 columns]